html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sixing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/*Body starts*/
body {
    font-family: 'Nanum Gothic', sans-serif;
    color: #fdfdfd;
 }

.header {
    background-color: #2451af;
    width: 1440px;
}
.wrapper {
    margin: 0 auto;
    width: 1400px;
}


div .header__container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__info {
    display: flex;
    flex-flow: column wrap;


}
.header__position {
    margin-top: 50px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: #fdfdfd;

}
h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #fdfdfd;
    margin-top: 20px;

}
.header__photo {
    max-width: 245px;
    border: 3px solid #b6b3b3;
    border-radius: 3px;
    float: left;
    position: absolute;
    top: 10px;
    left: 150px;
    z-index: 2;
}



.main {
    background-color: #b6b3b3;
    width: 1440px;
    position: relative;
    margin-bottom: -100px;

}
.main__container {
    width: 1200px;
    color: #fdfdfd;
    display: flex;
    flex-flow: row wrap;
    //justify-content: center;
    //position: relative;



}
.main_information {
    margin-top: 90px;
    position: relative;
}

.main__info {
    position: absolute;
    top: 0;
    left: 450px;
    font-size: 24px;
    font-weight: normal;
    color: #fdfdfd;
    margin-top: -60px;
    text-decoration: underline;

}

.main__about-me {
    position: relative;
    top: 10px;
    left: 450px;
    width: 900px;
    margin-top: -30px;
    line-height: 1.3;
    font-size: 18px;
    font-weight: normal;
    color: #fdfdfd;

}
.main__projects {
    position: relative;
    top: 0;
    left: 450px;
    margin-top: -20px;
    width: 900px;
}
.article__proj {
    padding-bottom: 20px;
    padding-top: 50px;
    font-size: 24px;
    font-weight: normal;
    color: #fdfdfd;
    text-decoration: underline;

}
.article__item {
    //width: 400px;
    color: #fdfdfd;
    font-size: 16px;
    list-style-type: circle;
    padding-bottom: 3px;
}
 li .article__link {
     text-decoration: none;
     color: #fdfdfd;
     font-size: 16px;
     padding-bottom: 3px;
     list-style-type: none;
     line-height: 1.3;
     cursor: pointer;
 }
     .article__link:hover {
         color: #2451af;
         transition: ease-in-out;
     }

.main_work {
    width: 900px;
    position: relative;
    top: 20px;
    left: 450px;
    margin-top: -20px;
}
.article__work {
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 24px;
    font-weight: normal;
    color: #fdfdfd;
    text-decoration: underline;
}
.article__school {
    //width: 400px;
    color: #fdfdfd;
    font-size: 16px;
    list-style-type: circle;
    padding-bottom: 3px;
    line-height: 1.3;
}

.main__education{
    //margin-top: 50px;


}
.main__school {
    position: relative;
    top: 20px;
    left: 450px;
    //margin-top: -20px;
    width: 900px;
}
.article__education {
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 24px;
    font-weight: normal;
    color: #fdfdfd;
    text-decoration: underline;

}
.main__item {
    width: 600px;
    color: #fdfdfd;
    font-size: 16px;
    list-style-type: circle;
    padding-bottom: 3px;
    line-height: 1.3;
}
.main__lang {
    position: relative;
    top: 20px;
    left: 450px;
    //margin-top: 20px;
    width: 800px;


}

.main_language {
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 24px;
    font-weight: normal;
    color: #fdfdfd;
    text-decoration: underline;

}

.main__english {
    font-weight: normal;
    color: #fdfdfd;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.aside {
    background-color: #6e89c3;
    position: absolute;
    top: 157px;
    left: 0;


}
.aside__container {
    width: 400px;
    margin: 0 auto;
}

.aside__info {
    margin-top: 250px;
    margin-left: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-top: 0;
    padding-left: 50px;

}
.aside__content {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: #fdfdfd;
    text-decoration: underline;
    padding-left: 45px;
}

.aside__mobile-link {
    margin-top: 30px;
    list-style-type: none;
    margin-left: 70px;
}
.aside__email-link {
    margin-top: 30px;
    list-style-type: none;
    margin-left: 70px;
}

.aside__phone,
.aside__email {
    width: 30px;
}
 .aside__skills {
    margin-top: 80px;
    margin-left: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
     padding-left: 70px;
     margin-bottom: 112px;
     padding-bottom: 20px;

}
.aside__skill {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: #fdfdfd;
    text-decoration: underline;
}
.aside__item {
    font-family: 'Nanum Gothic', sans-serif;
    list-style-type: circle;
    font-size: 14px;
    padding-top: 15px;

}
.footer {
    background-color: #3f3f44;
    width: 1440px;
    //height: 151px;

}
.footer__container {
    width: 1440px;
    margin-top: 100px;
}
.footer__icon {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
}
.footer__list {
    
}
.footer__github {
    width: 40px;
}
.footer__school {
    width: 40px;
}
